{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "> 5%",
          "uglify": true
        },
        "modules": "commonjs",
        "debug": true
      }
    ]
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "development": {
      "sourceMaps": "inline"
    },
    "test": {
      "sourceMaps": "inline"
    }
  }
}
